/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("/images/site/checkerboard.jpg");
  background-repeat: repeat;
}

#wrapper {
  background-color: white;
  max-width: 1000px;
  margin: 0 auto;
  border: 4px solid #00a6c7;
  border-radius: 8px;
  padding: 1rem;

}

header {
  display: flex;
  justify-content: space-between; 
  padding: 5px 5px;
}

header a {
  color: black;
  text-decoration: none;
}

header .siteName a {
  color: rgb(50, 50, 50);
  font-size: 1.5rem;
  font-weight: bold;
}

nav {
background-color: black;
color: white;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around; 
}
